@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500,700,800,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.2vw;
  font-family: "Fira Sans Condensed", sans-serif;
  user-select: none;
  color: #f00;
  font-size: 36px;
}
.app {
  color: #00f;
  font-weight: 900;
}
